.container {
  background-image: linear-gradient(to bottom, #ff6e7f, #bfe9ff);
  height: 100vh;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sub-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.main-heading {
  font-size: 70px;
}
.sub-heading {
  font-weight: 0;
  font-size: 30px;
}
